* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color:aliceblue;
}

a{
  text-decoration: none;
  color: rgb(208, 24, 24);
  transition: .5s;
}

a:hover{
  color: rgba(234, 22, 22, 0.422);
}